.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("./images/bg-intro-desktop.png");
  background-color: hsl(0, 100%, 74%);
  padding-bottom: 50px;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
